@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control de Activos y Préstamos</h1>
    <p class="lead">Es un Sistema desarrollado para la Organización de Estudios Tropicales para el manejo y préstamo de sus activos</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Activos</h2>
        <p>
            Se refiere a todos aquellos vienes adquiridos por la OET, los cuales pueden ser asignados a funcionarios. Los activos además atraviezan un ciclo de vida.
        </p>
        <p><a class="btn btn-default" href="#">Ir a Activos</a></p>
    </div>
    <div class="col-md-6">
        <h2>Préstamos</h2>
        <p>Se refiere a todos aquellos activos pertenecientes a la organización los cuales son sujetos a préstamo, ya sea de un empleado o miembro de un curso</p>
        <p>@Html.ActionLink("Ir a Prestamos", "Index", "ControladorPrestamo", new { @class = "btn btn-default" })</p>
    </div>


</div>