
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Inventario</title>
    <!-- Js -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[id$=A6]").addClass("active");
        });
    </script>

    <script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
    </script>
    <script>
         $.datepicker.regional['es'] = {
         closeText: 'Cerrar',
         prevText: '<Ant',
         nextText: 'Sig>',
         currentText: 'Hoy',
         monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
         monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
         dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
         dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
         dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
         weekHeader: 'Sm',
         dateFormat: 'dd/mm/yy',
         firstDay: 1,
         isRTL: false,
         showMonthAfterYear: false,
         yearSuffix: ''
         };

         $.datepicker.setDefaults($.datepicker.regional['es']);
         $(function() {
            $( "#datepicker1" ).datepicker();
         });
    </script>

</head>
<body>
    <!--TÍTULO-->
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h1>Inventario</h1>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        Activos_PrestamosOET.Models.PrestamosEntities db = new Activos_PrestamosOET.Models.PrestamosEntities();
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Todas",
            Value = "1",
            Selected = true
        });
        foreach (Activos_PrestamosOET.Models.TIPOS_ACTIVOS tipos in db.TIPOS_ACTIVOS)
        {
            listItems.Add(new SelectListItem
            {
                Text = tipos.NOMBRE,
                Value = tipos.NOMBRE,
                Selected = true
            });
        }
        ViewBag.listItems = listItems;
        <!--CATEGORÍA-->
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="col-md-3">
                        <label>Categoria</label>
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("dropdownCategoria", listItems ,new { @class = "form-control" }) 
                    </div>

                    <div class="col-md-5">
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <!--TABLA-->
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <table class="table" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th class="col-md-2">Fabricante</th>
                            <th class="col-md-2">Modelo</th>
                            <th class="col-md-2">Número Serie</th>
                            <th class="col-md-2">Tipo</th>
                            <th class="col-md-2">Prestado A</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (List<String> s in ViewBag.Courses)
                        {
                            <tr>
                                @foreach (String hilera in s)
                                {
                                    <td class="col-md-2">@hilera</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    <br>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <label class="col-md-4">Fecha inicial:</label>
                <div class="col-md-6">
                    <input class="form-control" style="padding:10px" type="text" id="datepicker" />
                    <br>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <label class="col-md-4">Fecha finalización:</label>
            <div class="col-md-6">
                <input class="form-control" style="padding:10px" type="text" id="datepicker1" />
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <table class="table" style="width:200px; margin-top:20px">
                <thead>
                    <tr>
                        <th class="col-md-1">Categoria</th>
                        <th class="col-md-1">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-1">Pendiente</td>
                        <td class="col-md-1">1</td>
                    </tr>
                    <tr>
                        <td class="col-md-1">Solicitado</td>
                        <td class="col-md-1">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>